<table><tr><td>
<div class="safe-affordable-cargo">
<div class="titre2">
<h2>A propos de Horizon </h2>
</div>
<p itemprop="description">
  Horizon Transport Express est une société prestataire de service spécialisée dans le transport routier et la livraison des colis, courriers et marchandises diverses sur le territoire tunisien. Elle est fondée en 2005 sous le statut d’une société à responsabilité limitée « SARL ». Elle offre un service de livraison express complet au quotidien, regroupe et réexpédie les colis des entreprises et des particuliers à domicile ou en point de proximité. 
<br><br>Pour satisfaire les besoins particuliers de ses clients, la société HTE ne cesse de se développée, elle bénéficie aujourd’hui d’un réseau de distribution et d’une organisation logistique lui permettant d’être classée aujourd’hui parmi les plus grands spécialistes de livraison et de présenter une offre de qualité, fiable et sérieuse pour mieux organiser les expéditions.
<br><br>HTE s’engage à apporter une solution appropriée aux envoies de ses clients et essaye d’innover ses services pour assurer l’efficacité et optimiser son expérience client.
<br><br>Sa vision future se fonde sur une trajectoire évolutive. La société essaye d’améliorer en permanence ses services pour renforcer les valeurs de modernité, de fiabilité et de solidité.
<br><br>Ces valeurs contribueront à rassembler toute l’équipe, à faire progresser régulièrement la société et à mobiliser les énergies.</p>
</div></td><td><img src="assets/images/gallery-2-colum1.jpg"></td></tr></table>